.row {
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: rgba(0,0,0,.15);
	color: rgb(255, 255, 255);
}
[class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
}

h1 {
	text-align: center;
}

body {
	background-image: url("../imag/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.req {
	color: rgb(255, 0, 0);
}

#buttons {
	text-align: right;
}

#forecast {
	margin-top: 20px;
}

.error {
	color: rgb(255, 0, 0);
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 0.5;
}

#responseArea {
	# visibility: hidden;
}

.nav-pills li a{
	background: rgba(230, 230, 230, 0.9);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

div.tab-content{
	#background: rgba(250, 250, 250, 1);
}

#today {
	background: rgba(250, 250, 250, 1);
	margin-bottom: 0px;
	border-top-width: 0px;
}


.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 0, 0, .2);
}

#today th{
	border-top-width: 0px;
	padding: 5px;
	background: rgba(242, 126, 127, 1);
}
#today td{
	border-top-width: 0px;
}
#today th div{
	text-align: center;
	background: rgba(242, 126, 127, 1);
	color: rgb(255, 255, 255);
}

#today .templarge {
	font-size: 450%;
}
#highlow {
	font-size: 70%;
}
#low {
	color: rgb(0, 0, 200);
}

#high {
	color: rgb(0, 150, 0);
}

div.tab-content div div{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: rgba(250, 250, 250, 1);
}

#day {
	text-align: center;
	margin-bottom: 0px;
}

#day th{
	text-align: center;
	color: rgb(255, 255, 255);
	background: #337ab7;
	border: 0px;
}

#day td {
	text-align: center;
	#border: 0px;
}


#day td a{
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	color: #337ab7;
}
#day div.well {
	background-image: linear-gradient(rgb(232, 232, 232) 0px, rgb(245, 245, 245) 100%);
	padding: 10px;
	padding-bottom: 30px;
}

#day td.more {
	border: 1px;
	color: rgb(255, 0, 0);
}

#day table.more{
	text-align: center;
	width: 100%;
	padding: 5px;
}
#day table.more th {
	color: rgb(0, 0, 0);
	background: #FFFFFF;
	border: 1px;
	padding: 5px;
}
#day table.more td{
	padding: 5px;
}

#week div{
	text-align: center;
	background: rgb(47, 52, 57);
	color: #FFFFFF;
	padding: 5px;
}

#week div div {
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}

@media all and (max-width: 600px) {
	#week div {
		background: rgba(0, 0, 0, 0);
	}
	
	#week div div {
		border-radius: 50px;
		width: 100%;
		margin-bottom: 10px;
	}
}

#week div div div {
	background: rgba(0, 0, 0, 0);
	padding-top: 5px;
	padding-bottom: 10px;
}
# img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

#week div#week1{
	background: rgb(54, 125, 181);
}
#week div#week2 {
	background: rgb(236, 68, 68);
}
#week div#week3 {
	background: rgb(230, 142, 79);
}
#week div#week4 {
	background: rgb(169, 164, 57);
}
#week div#week5 {
	background: rgb(151, 112, 167);
}
#week div#week6 {
	background: rgb(243, 124, 126);
}
#week div#week7 {
	background: rgb(206, 69, 113);
}

#week .templarge {
	font-size: 200%;
}

#mapContainer{
	height: 469px;
}

#basicMap {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    position: absolute;
}
#basicMap div {
	background: rgba(255, 255, 255, 0);
}
#basicMap .layersDiv{
	background: rgba(0, 0, 139, 1);
}

.olControlAttribution {
    padding: 5px;
    z-index: 1000;
    bottom: 0.2em !important;
    overflow: hidden;
    background: #575757;
    color: white;
    width: 33%;
    font-size: 1em !important;
    text-align: right;
    /* for IE */
    filter:alpha(opacity=90);
    /* CSS3 standard */
    opacity:0.9;
    border-radius: 4px;
}