.row {
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: rgba(0,0,0,.15);
  color: rgb(255, 255, 255);
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.req {
	color: rgb(255, 0, 0);
}

.error {
	color: rgb(255, 0, 0);
}

ul li{
	background: rgba(230, 230, 230, 0.9);
	border-radius: 5px;
}

.tab-content div{
	background: rgba(250, 250, 250, 0.9);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#buttons {
	text-align: right;
}

#forecast {
	margin-top: 20px;
}

hr {
	opacity: 0.5;
}

h1 {
	text-align: center;
}