.row {
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: rgba(0,0,0,.15);
  color: rgb(255, 255, 255);
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.req {
	color: rgb(255, 0, 0);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#buttons {
	text-align: right;
}

#forecast {
	margin-top: 20px;
}

h1 {
	text-align: center;
}